h1{
    text-align: center;
}
h1{
   font-family: "Playwrite AU QLD", cursive;
}
.papa{
    color: brown;
}
.mummy{
    color: blueviolet;
}
.sher{
    color: green;
}
.link{
    color: red;
}
h1{
    background-color: brown;
}
.video{
    color: purple;
}
*{
    background-color: antiquewhite;
}
div{
    margin-left: 45%;
}
#photo{
    border: 2px solid black;
    
}
