h1{
    text-align: center;
}
.papa{
    color: brown;
}
.mummy{
    color: blueviolet;
}
.sher{
    color: aqua;
}
.link{
    color: red;
}
h1{
    background-color: blanchedalmond;
}
h5{
    background-color: chocolate;
}
.video{
    color: chartreuse;
}