h1{
    text-align: center;
}
.papa{
    color: brown;
}
.mummy{
    color: blueviolet;
}
.sher{
    color: green;
}
.link{
    color: red;
}
h1{
    background-color: blanchedalmond;
}
.video{
    color: purple;
}
*{
    background-color: antiquewhite;
}
